<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style> table th, table td {
        padding: 5px;
    }</style>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">surname</th>
        <th scope="col">age</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${user.getId()}"/>
    <td th:text="${user.getName()}"/>
    <td th:text="${user.getSurname()}"/>
    <td th:text="${user.getAge()}"/>
    <td>

        <a th:href="@{/users/change?id={num}(num=${user.getId()})}" th:text="Change"></a>

    </td>

    <td>

    <a th:href="@{/users/delete?id={num}(num=${user.getId()})}" th:text="Delete"></a>

    </td>
    </tbody>
</table>
</body>
</html>

